.header ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.header ul > li {
  padding: 0 10px;
}

.header ul > li > a {
  color: black;
  text-decoration: none;
}

.header ul > li > a:hover {
  cursor: pointer;
  border-bottom: 1px solid currentColor;
}

.header ul > li > a.active {
  color: red;
  border-bottom: 1px solid currentColor;
}

.page {
  width: 50vw;
  margin: 0 auto;
}
